<header class="header w-100  p-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-3 d-flex align-items-center ">
        <p class="header_logo fs-3">Sayed Hany</p>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
        <mat-form-field class="search-field w-100 ">
          <mat-label>Search User</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keyup.enter)="onSearch()" >
          @if (value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
    </div>
  </div>
</header>